name: Release

on:
  release:
    types:
      - published
      
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Remove test files
        run: rm -rf **/*.spec.luau

      - name: Install Rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Install packages
        run: wally install

      - name: Build model
        run: rojo build -o formati.rbxm

      - name: Upload release
        uses: softprops/action-gh-release@v1
        if: ${{ github.event.release }}
        with:
          files: formati.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}